services:
  mysql:
    image: mysql:8.0
    container_name: evm-event-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      # load schema from local directory for initialization
      - ./db/schema:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10      

  indexer:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: evm-event-indexer
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      - TZ=UTC # default timezone 
    volumes:
      - ../config:/app/config:ro      